/*custom styles*/
.textColorWhite
{
	color: white;
}
/* main styles*/
#main
{
background: url("../img/header_bg.jpg");
	background-size:cover;
}
#main .container-fluid{
	padding: 0px;
}
#main .navbar{
	border-radius: 0px;
}
#main .content
{
	padding-bottom: 180px;
	padding-top: 210px;
}
#main .mainHeight
{
	height: 100%;
}
#main h1
{
	font-size: 2.7em;
}
/*about1 styles*/
#about1
{

}
#about1 .mainHeight
{
	height: 100%;
}
#about1 .content
{
	padding-top: 40px;
	padding-bottom: 70px;
}
#about1 .mainColor
{
	background: #F5F5F5;
}
/*about2 styles*/
#about2
{

}
#about2 .mainHeight
{
	height: 100%;
}
#about2 .content
{
	padding-top: 40px;
	padding-bottom: 70px;
}
/*divider1 styles*/
#divider1
{
	background: url("../img/bg/divider1.jpg");
	background-size:cover;
}
#divider1 .mainHeight
{
	height: 100%;
}
#divider1 .content
{
	padding-bottom: 100px;
	padding-top: 130px;
}
#divider1 p
{
	font-size: 1.4em;
}
/*services styles*/
#services
{
	
}
#services .mainHeight
{
	height: 100%;
}
#services .content
{
	padding: 75px 280px;
}
/*divider2 styles*/
#divider2
{
	background: url("../img/bg/divider2.jpg");
	background-size:cover;
}
#divider2 .mainHeight
{
	height: 100%;
}
#divider2 .content
{
	padding-bottom: 100px;
	padding-top: 130px;
}
#divider2 p
{
	font-size: 1.4em;
}
/*team styles*/
#team .content
{
	padding-bottom: 85px;
	padding-top: 80px;
}
/*hiring styles*/
#hiring p
{
margin: 30px 50px 60px 50px;
}
#hiring button
{
	padding:10px 20px;
}
/*divider3 styles*/
#divider3
{
	background: url("../img/bg/divider3.jpg");
	background-size:cover;
}
#divider3 .mainHeight
{
	height: 100%;
}
#divider3 .content
{
	padding-bottom: 100px;
	padding-top: 130px;
}
#divider3 p
{
	font-size: 1.4em;
}
#portfolio
{

}
#blog
{

}
#contact
{

}